<script type="text/javascript">
  $('.top').after('<p>Test</p>');
</script>
<a href="/login">Login</a>
<div class="top"> Top </top>

<script src="/socket.io/socket.io.js"></script>
<script src="/socket.io/socket.io-sessions.js"></script>
<script>
  var socket = io.connect();
  socket.on('logs', function (data) {
     $('.top').after(data.toString() + '<br/>');
  });
</script>
