<header class="main">
<h1><a href="#">syslog-node</a></h1>
</header>


  

  <% if(!username) {%>
  <div class="loginText">
    Please <a href='/login'>login</a> to view logs
  </div>
  <% } else { %>
  <div class="regexDialog" type="hidden">
    <p>Regex: <input class="regex" value="<%= regex %>"></input>
   Lines: <input class="lines" value="<%= lines %>"></input></p>
   
  </div>
  <div class="logout">
    <form id="logout" class="logout" action="logout" method="post">
      <input type="hidden" name="next" value="/" />
    	<a href="#" onclick="$('.logout').submit()">Logout</a>
    </form>
  </div>
  




<div class="errors"> </div>
<div class="mainText">
<div class="logs"></div>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect();
  socket.on('logs', function (data) {
    var lines = parseInt($('.lines').val()) || 100;
    lines = lines - 1;
    for(var i in data) {
       $('.logs').after('<div class="log elem">' + data[i].toString() + '<br/></div>');
     }
     $(".log:gt(" + lines + ")").detach();
  });
  
  socket.on('connect', function() {
     $('.errors').hide();
     $('.filtering').show();

    var regex = $(".regex").val();
    var lines = parseInt($('.lines').val()) || 100;

    socket.emit('get', {regex : regex, lines : lines});

  });

  $(".regex,.lines").keyup(function() {
    var regex = $(".regex").val();
    var lines = parseInt($('.lines').val()) || 100;

    socket.emit('regex', regex);
    $.ajax({
      type: "POST",
      url: "/regex",
      data: {regex : regex}
      });
    $('.log').detach();
    socket.emit('get', {regex : regex, lines : lines});
      
  });
</script>
</div>
<footer><h3>Design by <a href="#">Caerulean Hue</a></h3></footer>
<% } %>