<div class="filtering" style="display:none;">
  Regex: <input class="regex" value="<%= regex %>"></input>
  Lines: <input class="lines" value="<%= lines %>"></input>
  <br/>
</div>
<% if(!username) {%>
  <div class="login">
    Please <a href='/login'>login</a> to view logs
  </div>
<% } else { %>
  <div class="login">
    <form action="logout" method="post">
      <input type="hidden" name="next" value="/" />
      <input type="submit" name="username" value="Logout"/>
    </form>
  </div>
  <% if (username == "admin") { %>
    <a href="/adduser">Add a User</a>
  <% } %>
<% } %>
<div class="errors"> </div>
<div class="logs"></div>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect();
  socket.on('logs', function (data) {
    var lines = parseInt($('.lines').val()) || 100;
    lines = lines - 1;
     $('.logs').after('<div class="log">' + data.toString() + '<br/></div>');
     $(".log:gt(" + lines + ")").detach();
  });
  
  socket.on('connect', function() {
     $('.errors').hide();
     $('.filtering').show();

    var regex = $(".regex").val();
    var lines = parseInt($('.lines').val()) || 100;

    socket.emit('get', {regex : regex, lines : lines});

  });

  $(".regex,.lines").keyup(function() {
    var regex = $(".regex").val();
    var lines = parseInt($('.lines').val()) || 100;

    socket.emit('regex', regex);
    $.ajax({
      type: "POST",
      url: "/regex",
      data: {regex : regex}
      });
    $('.log').detach();
    socket.emit('get', {regex : regex, lines : lines});
      
  });
</script>
