<script type="text/javascript">
  $('.top').after('<p>Test</p>');
</script>
<div class="filtering" style="display:none;">
  Regex: <input class="regex" value="<%= regex %>"></input>
  <br/>
</div>
<% if(!username) {%>
  <div class="login">
    Please <a href='/login'>login</a> to view logs
  </div>
<% } else { %>
  <div class="login">
    <form action="logout" method="post">
      <input type="hidden" name="next" value="/" />
      <input type="submit" name="username" value="Logout"/>
    </form>
  </div>
<% } %>
<div class="errors"> </div>
<div class="logs"/>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect();
  socket.on('logs', function (data) {
     $('.logs').after('<div class="log">' + data.toString() + '<br/></div>');
  });
  socket.on('connect', function() {
     $('.errors').hide();
     $('.filtering').show();

    var regex = $(".regex").val();
    console.log(regex);

    socket.emit('regex', regex);

  });

  $(".regex").keyup(function() {
    var regex = $(".regex").val();
    console.log(regex);

    socket.emit('regex', regex);
    $.ajax({
      type: "POST",
      url: "/regex",
      data: {regex : regex}
      });
    $('.log').detach();
    socket.emit('get');
      
  });
</script>
