<header class="main">
<h1><a href="#">syslog-node</a></h1>
</header>

<div class="inputArea">
<form action="login" method="post">
<input type="hidden" name="next" value="/" />
<p>username<input type="text" name="username"  /></p>
<p>password<input type="password" name="password" /></p> 
<input type="submit" value="Login" class="myButton"/>
</form>
</div>

