body {
    background: #c9dce4;
#    font-family: “Trebuchet MS”, Verdana, Arial, serif;
}

.elem {
    margin-top: 3px;
    background: #9ebdc8;
    border-radius: 3px;
    padding: 3px;
    font-size: small;
}


.log:hover {
    background: #bfdae4;
} 